.fp-quizzes .quiz {
  display: flex;
}
.fp-quizzes .quiz .title {
  font-size: 18px;
}
.fp-quizzes .quiz .description {
  margin: 3px 0 0;
  line-height: 1.6rem;
}
.fp-quizzes .quiz-margin {
  margin: 15px 0;
}
.fp-quizzes .quiz-margin:first-child {
  margin-top: 10px;
}
.fp-quizzes .thumb {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.fp-quizzes .thumb img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fp-quizzes .thumb-right {
  flex: 1;
}
.fp-quizzes .no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#email-reminder {
  max-width: 550px;
  position: relative;
}
#email-reminder .close-x {
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  color: #666;
}
#email-reminder .close-x:hover {
  color: #000;
}
#typing-plug {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px;
  border-radius: 5px;
  position: relative;
  width: fit-content;
  background-color: #9cf;
  color: #363d44;
  cursor: pointer;
}
#typing-plug:hover {
  filter: brightness(0.9);
}
h1 {
  margin-bottom: 5px;
}
.daily-reminder {
  width: 500px;
  background-color: #ffc106;
  padding: 18px;
  border-radius: 5px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: -8px 0 0 15px;
  color: #363d44;
}
.daily-reminder::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 82px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid #ffc106;
}
.daily-reminder-blue {
  background-color: #9cf;
}
.daily-reminder-blue::before {
  border-bottom-color: #9cf;
}
.desktop .container {
  width: 1195px;
}
.desktop-content h1 {
  font-size: 40px;
}
.bordered-box {
  border: 1px solid #c7ccd1;
  border-radius: 5px;
  padding: 10px 15px 15px;
}
.fp-content {
  padding: 15px;
  font-size: 15px;
  line-height: 1.5rem;
}
.fp-content > p:first-child {
  margin-top: 0;
}
.fp-content > p:last-child {
  margin-bottom: 0;
}
.fp-content.christmas {
  border: 3px solid !important;
  border-image: repeating-linear-gradient(
      -30deg,
      white 10px,
      white 15px,
      red 15px,
      red 25px,
      white 25px,
      white 30px,
      green 30px,
      green 40px,
      white 40px
    )
    3 !important;
}
.modal-fp-customize .panel,
.modal-fp-links .panel {
  background-color: #e9ebed;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
  padding: 4px 4px 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-fp-customize .panel.used,
.modal-fp-links .panel.used {
  cursor: pointer;
}
.modal-fp-customize .drag-over,
.modal-fp-links .drag-over {
  outline: 1px solid blue;
  outline-offset: -1px;
  background-color: rgba(163, 163, 245, 0.3);
}
.modal-fp-customize .drag-sel,
.modal-fp-links .drag-sel {
  outline: 1px solid red;
  outline-offset: -1px;
  background-color: rgba(245, 163, 163, 0.3);
}
.daily-button {
  padding: 8px;
  line-height: 1.5rem;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #c7ccd1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.daily-button:hover {
  border-color: #8f99a3;
}
.dark-mode .bordered-box {
  border: 1px solid #8f99a3;
}
.dark-mode .modal-fp-customize .panel,
.dark-mode .modal-fp-links .panel {
  background-color: unset;
  border: 1px solid #8f99a3;
}
.dark-mode .modal-fp-customize .drag-over,
.dark-mode .modal-fp-links .drag-over {
  background-color: rgba(163, 163, 245, 0.3);
  outline-color: #0062cc;
}
.dark-mode .modal-fp-customize .drag-sel,
.dark-mode .modal-fp-links .drag-sel {
  background-color: rgba(245, 163, 163, 0.3);
  outline-color: #dc3545;
}
